#!/bin/bash

cd {{ nextcloud_home }}
TAG=`date | md5sum | awk '{print $1}'`

# Set AWS authentication info and restic password (see tensouth-config for backups.env source)
source /root/backups.env

# Put Nextcloud into maintenance mode
docker-compose exec -u www-data app php occ maintenance:mode --on

# Back up application files
restic --quiet --repo s3:s3.amazonaws.com/$S3_BUCKET/nextcloud_app backup --tag $TAG /var/lib/docker/volumes/nextcloud_app

# Back up database
docker-compose exec db 'pg_dump -U $NC_dbuser nextcloud' | restic --quiet --repo s3:s3.amazonaws.com/$S3_BUCKET/nextcloud_db backup --tag $TAG --stdin --stdin-filename nextcloud_db.sql

# Take Nextcloud out of maintenance mode
docker-compose exec -u www-data app php occ maintenance:mode --off
